@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

:root {}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

.text {
    background-color: rgb(225 143 143);
    /* Màu đỏ tương đương với #FFABAB */
    color: transparent;
    text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.23);
    /* Màu đen với độ trong suốt 25% */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.text-register {
    background-color: rgb(225 143 143);
    /* Màu đỏ tương đương với #FFABAB */
    color: transparent;
    text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.23);
    /* Màu đen với độ trong suốt 25% */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}