.footer {
    position: absolute;
    bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: center;

}

.wrapper {
    background-color: white;
    border-radius: 15px;
    width: 90%;
    height: 74px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.active-item {
    width: 90px;
    height: 90px;
    background-color: white;
    // border: 15px solid #FFE8E8;
    transform: translateY(-30px);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 10px #FFE8E8 ;
}