.footer {
    position: fixed;
    bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: center;

}

.wrapper {
    background-color: white;
    border-radius: 15px;
    width: 90%;
    height: 74px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.active-item {
    width: 70px;
    height: 70px;
    background-color: white;
    animation: next-active .4s ease-in-out;
    animation-fill-mode: forwards;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

}

@keyframes next-active {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-30px);
        box-shadow: 0px 0px 0px 15px #FFE8E8;
    }
}