.input {

    padding-left: 37px;
    padding-right: 19px;
    font-weight: 900;
    outline: none;
    font-size: 15px;
    line-height: 20px;
    box-sizing: border-box;
    color: rgb(225 143 143);
    width: 272px;
    height: 56px;
    background-color: #ffe8e8;
    border-radius: 30px;
    border: 1px solid #ffe8e8;
    box-shadow: 0px -1px 0px 0px white;


}

.input::placeholder {
    background-color: rgb(225 143 143);
    /* Màu đỏ tương đương với #FFABAB */
    color: transparent;
    text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.23);
    /* Màu đen với độ trong suốt 25% */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    // opacity: 1;
}