.Loader {
    z-index: 1002;
    border: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: url('../../../assets/images/background_img.png');
    opacity: 0.6;
    cursor: wait;
    position: fixed;
}